.btn {
  padding: 12px 24px;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border: solid 1px #f76ba0 ;
  color: #f76ba0;
  background-color: #343233;
  cursor: pointer;
  font-family: "juicy" !important;
  font-size:1.5rem;
}
