.item {
  width: 10px;
  height: 10px;
  position: absolute;

  &_trap {
    background-color: #98d900;
    border-radius: 50%;
  }

  &_food {
    background-color: #ff00a6;
    background-image: url(../../../public/food.jpg);
    clip-path: polygon(50% 0,
        calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
        calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
        calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))));


  }
}