
.form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  input {
    outline: none;
    background-color: transparent;
    font-size: 24px;
    border: none;
    border-bottom: solid 1px #f76ba0;
    padding-bottom: 10px;
    color: white;
    font-family: "juicy";
  }
}
